:root {
    --fontPrimary: "Harry";
     --baseFont: 20px;

    // Color
    // White
    --white: #ffffff;
    // Black
    --black: #000000;
    //Beige
    --beige: #D7D6D6FF;
    // Poufsouffle
    --poufsouffle: #DB9E32;
    // Serpentard
    --serpentard: #0A6C34;
    // Griffondor
    --griffondor: #921F20;
    // Serdaigle
    --serdaigle: #264370;

    // Wrapper
    --lineHeight : 156%;
}
